              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/programming.html">
                      [ Programming ]
                    </a>
                  </li>
                  <li>
                    <a href="/posts/algorithm.html">
                      [ Algorithm ]
                    </a>
                  </li>
                  <li>
                    <a href="/posts/read.html">
                      [ Reading & Life ]
                    </a>
                  </li>
                  <li>
                    <a href="/posts/archives.html">
                      [ History ]
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/posts/linux.html">
                      [ Linux ]
                    </a>
                  </li>                  
				  <li>
                    <a href="/posts/japanese.html">
                      [ foreign language ]
                    </a>
                  </li>
                  <li>
                    <a href="/posts/other.html">
                      [ Other ]
                    </a>
                  </li>
                  <li>
                    <a href="/posts/tips.html">
                      [ Tips ]
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
